.link {
  @include flex(center, center);
  width: 252px;
  height: 66px;

  border-radius: 50px;
  font-family: "Lato-Regular";

  font-size: 12px;
  line-height: 15px;

  border: none;

  background-color: #000;
  border-radius: 33px;

  color: #fff;
  margin-top: 35px;

  &--small {
    width: 239px;
    height: 72px;

    border-radius: 62.5px;

    font-family: "NotoSansArabic-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;

  }
  &--big {
    width: 326px;
    height: 98px;
    border-radius: 62.5px;

    font-family: "NotoSansArabic-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
	align-self: flex-start;
  }

  &:hover {
    border: 2px solid #000;
    color: #000;
    background-color: transparent;
  }
}
