.main {
  // .main__wrapper
  &__wrapper {
    @include flex(space-between, center, $flex-direction: column);
    gap: 33px;
  }
  // .main__content
  &__content {
    @include flex(flex-start, center, wrap);
    gap: 82px;
    width: 100%;
    padding-left: 40px;
  }
  // .main__box
  &__box {
    @include flex(space-between, center, $flex-direction: column);
  }
  // .main__title
  &__title {
    max-width: 645px;
  }
  // .main__link
  &__link {
  }
  // .main__text
  &__text {
    max-width: 510px;
  }
  // .main__inner
  &__inner {
    @include flex(space-between, center, $flex-direction: column);
  }
  // .main__subtitle
  &__subtitle {
    margin-bottom: 28px;
    align-self: flex-start;
  }
  // .main__wrap
  &__wrap {
    @include flex(space-between, flex-start);
    .main__text {
      max-width: 450px;
    }
    .main__box {
      align-items: flex-start;
      max-width: 33%;
    }
  }
  // .main__desk
  &__desk {
    font-family: "Lato-Bold";
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    align-self: flex-start;
  }
}
